<!DOCTYPE html>
<html lang="en" ng-app="BatteryApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="AppCtrl">
	<div ng-if="!isSupported">Not supported :(</div>
	<div ng-if="isSupported">Supported! :)</div>
	{{isCharging}}

	<script src="angular.min.js"></script>
	<script src="battery.min.js"></script>
	<script>
		angular.module("BatteryApp", [])
		.controller("AppCtrl", function ($scope, $interval) {
			$scope.isSupported = Battery.isSupported();
			$scope.isCharging = false;

			$interval(function() {
				Battery.getStatus(function(status) {
					$scope.isCharging = status.isCharging;
				});
			}, 1000/30);

 		});
	</script>

</body>
</html>
