
<!doctype html>
<html lang="en" ng-app="BatteryApp">
<head>
	<meta charset="utf-8">
	<title>dontunplug.me</title>
	<meta class="Guilherme Berger">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS Feed" />
	<meta name="descrption" content="hacknc app">
	
</head>
<body ng-controller="AppCtrl">


	<div class="container page index.html">
	
		<div ng-if="!isSupported">Not supported :(</div>

		<div ng-if="isSupported">

			<input type="tel">

			<div>
				<div class="locksize">
					<a ng-if="!locked" ng-click="lock()"><i class="fa fa-unlock fa-5x"></i> Lock</a>
					<a ng-if="locked" ng-click="unlock()"><i class="fa fa-lock fa-5x"></i>Unlock</a>
				</div>
			</div>
			<p ng-if="!isCharging">
				<i class="fa fa-warning fa-5x"></i>
			</p>
		</div>	
	</div>
		

	<script src="/js/angular.min.js"></script>
	<script src="/js/battery.min.js"></script>
	<script src="/js/webcam.min.js"></script>
	<script>
		angular.module("BatteryApp", [])
		.controller("AppCtrl", function ($scope, $interval) {
			var battery = new Battery();

			$scope.isSupported = Battery.isSupported();
			$scope.isCharging = false;

			$scope.locked = false;

			$interval(function() {
				battery.getStatus(function(status) {
					console.log(status)
					$scope.isCharging = status.charging;
				});
			}, 1000/30);

			$scope.lock = function() {
				$scope.locked = true;
			}

			$scope.unlock = function() {
				$scope.locked = false;
				$scope.alert = false;
			}

		});
	</script>

</body>
</html>

