<!doctype html>
<html lang="en" ng-app="DontUnplugMeApp">
<head>
	<meta charset="utf-8">
	<title>dont unplug me</title>
	<meta class="Guilherme Berger">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="/css/buttons.min.css">
	<link rel="stylesheet" href="/css/forms.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<meta name="descrption" content="Get alerted when your device is unplugged">
</head>
<body ng-controller="AppCtrl">
	<div class="container">

		<h1>dont unplug me</h1>

		<p>
			Get alerted when your device is unplugged
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit assumenda deleniti quo ratione ullam, amet laborum quas, eaque nostrum praesentium! Nobis repellendus consequatur qui, velit soluta! Fugit tempora, distinctio mollitia.
		</p>
	
		<div ng-if="!isSupported">
			Unfortunately, your browser does not support the Battery API.
			Supported browsers include Chrome and Firefox.
		</div>

		<div ng-if="isSupported">
			<p>
				<form class="pure-form pure-form-aligned">
					<fieldset>
						<div class="pure-control-group">
							<label for="input-phone-number">SMS Alert</label>
							<input id="input-phone-number" type="tel" placeholder="999 9999 999" ng-model="data.phoneNumber" ng-disabled="locked">
						</div>

						<div class="pure-control-group">
							<label for="input-email">Email Alert</label>
							<input id="input-email" type="email" placeholder="your@email.com" ng-model="data.emailAddress" ng-disabled="locked">
						</div>

						<a class="pure-button button-xlarge" ng-if="!locked" ng-click="lock()" ng-disabled="!charging">
							<i class="fa fa-unlock"></i> Lock
						</a>

						<a class="pure-button button-xlarge" ng-if="locked" ng-disabled="true">
							<i class="fa fa-lock"></i> Locked
						</a>

						<p class="warning" ng-if="!locked && !charging">Connect to power source before locking</p>
					</fieldset>
				</form>
			</p>
		</div>	
	</div>
	
	<div id="camera-dummy"></div>

	<script src="/js/angular.min.js"></script>
	<script src="/js/battery.min.js"></script>
	<script src="/js/webcam.min.js"></script>
	<script>
		angular.module("DontUnplugMeApp", [])
		.controller("AppCtrl", function ($scope, $interval, $http) {
			// Setup webcam
			Webcam.attach('#camera-dummy');

			// Setup audio
			var audio = new Audio();
			audio.autplay = false;
			audio.src = '/audio/alert' + (navigator.userAgent.match(/Firefox/) ? '.ogg' : '.mp3');

			// Setup battery
			var battery = new Battery();

			$scope.isSupported = Battery.isSupported();
			$scope.charging = false;
			$scope.locked = false;
			$scope.triggered = false;

			$scope.data = {
				phoneNumber: '',
				emailAddress: ''
			}

			$interval(function() {
				battery.getStatus(function(status) {
					$scope.charging = status.charging;

					if($scope.locked && !$scope.charging && !$scope.triggered) {
						$scope.trigger();
						$scope.triggered = true;
					}
				});
			}, 1000/30);

			$scope.lock = function() {
				if(!$scope.locked && $scope.charging) {
					$scope.locked = true;
				}
			}

			$scope.trigger = function() {
				var data = $scope.data;

				audio.play();
				if(Webcam.live && Webcam.loaded) {
					Webcam.snap(function(dataUri) {
						data.image = dataUri;
						$scope.submit(data);
					})
				} else {
					$scope.submit(data);
				}
			}

			$scope.submit = function(data) {
				console.log(data);
				$http.post('/alert', data);
			}

		});
	</script>

</body>
</html>

